.main-container-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
}

.main-container-auth .image {
    display: flex;
    width: 60%;
    height: 100%;
    background-image: url('../../assets/images/fn-pb.png');
    background-size: cover;
    background-position: center;
}

.image-tittle {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 80px 80px;
}

.image h1 {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 72px;
    line-height: 96px;
    color: #FFFFFF;
}

.image p {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.image span {
    background: rgba(108, 239, 139, 0.26);
}

.main-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 0 80px;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
}

.main-container-content .logotype {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000;
    position: absolute;
    top: 35px;
    right: 35px;
}

.main-container-content h1,
.main-container-content .bem-vindo {
    align-self: flex-start;
    text-align: left;
}

.main-container-content h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    color: #000000;
}

.main-container-content p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #424159;
}

.main-container-content .formulario {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
}

.formulario label {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #000000;
}

.formulario input {
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    margin-bottom: 20px;
}

.container-data-foto {
    display: flex;
    gap: 15px;
    width: 100%;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    padding: 8px 10px;
}

input[type="file"]::-webkit-file-upload-button {
    background: #828282;
    color: #fff;
    padding: auto 20px;
    height: 100%;
    border: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    margin-right: 8px;
    font-size: 12px;
    font-weight: 500;
}


.formulario .buttonLogin {
    width: 100%;
    height: 47px;
    background: #000000;
    border: 1px solid #000000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
}

.main-container-content-link a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width: 1460px) {
    .main-container-auth .image {
        display: none;
    }

    .main-container-content {
        width: 100%;
    }
}

@media screen and (max-width: 610px) {
    .container-data-foto {
        flex-direction: column;
        gap: 0;
    }

    .main-container-section {
        width: 100%;
    }

    .main-container-content {
        padding: 0 7%;
    }

    .main-container-section h1 {
        font-size: 44px;
        margin-top: 180px;
    }

    .main-container-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-height: 660px) {
    .main-container-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}