@import url('../../index.css');

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.faq-content {
    width: 90%;
    max-width: 850px;
}

.title-faq {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 75px;
    margin-bottom: 28px;
}

.subtitle-faq {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 11px;
}

.faq-answer {
    font-size: 14px;
    line-height: 21px;
    color: #424159;
    margin-bottom: 56px;
}

.title-faq span {
    background-color: #CADFD1;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* styles for footer */

footer {
    height: 250px;
    background-color: #1C1C1C;
    margin-top: 160px;
}

/* internal line */

hr {
    width: 90%;
    max-width: 1680px;
    border: 1px solid #000000;
    margin-bottom: 160px;
    margin-top: 160px;
    margin: 0 auto;
}

/* spotlight styles */

.maps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.spotlight {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.spotlight-content {
    cursor: pointer;
}

.spotlight-content h1 {
    transition: text-decoration .3s;
}

.spotlight-content h1:hover {
    text-decoration: underline;
}

.map-container h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 45px;
    color: #000;
    margin-bottom: 7px;
}

.map-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    margin-bottom: 75px;
}

.map-content {
   height: 500px;
   width: 900px;
   z-index: 1;
}

@media screen and (max-width: 1840px) {
    .map-content {
        width: 800px;
    }
}

@media screen and (max-width: 1740px) {
    .map-content {
        width: 700px;
    }
}

@media screen and (max-width: 1640px) {
    .map-content {
        width: 600px;
    }
}

@media screen and (max-width: 1540px) {
    .map-content {
        width: 520px;
    }
}

@media screen and (max-width: 1470px) {
    .maps {
        flex-direction: column;
        gap: 100px;
    }

    .map-container {
        width: 100%;
    }

    .map-content {
        width: 100%;
    }

    .spotlight {
        max-width: 100%;
    }
}

@media screen and (max-width: 1360px) {
    .maps {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 960px) {
    .maps {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (max-width: 560px) {
    .maps {
        margin-top: 160px;
    }
}