@import url('../../index.css');

.header-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1.title-header,
p.header-subtitle {
    font-family: 'Playfair Display';
    margin-left: 20.73%;
}

h1.title-header {
    font-style: normal;
    font-weight: 500;
    font-size: 124px;
    line-height: 165px;
}

p.header-subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
}

p.header-lide {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 6.25%;
    max-width: 377px;
    align-self: self-end;
}

.line-1 {
    position: absolute;
    left: 0;
    top: 437px;
}

.line-2 {
    position: absolute;
    right: 0;
    top: 72%;
}

.header-subtitle span {
    background-color: #CADFD1;
    padding-right: 20px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1540px) {
    .line-1 {
        display: none;
    }

    h1.title-header,
    p.header-subtitle {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1170px) {

    h1.title-header,
    p.header-subtitle {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1140px) {
    .line-2 {
        top: 75%;
    }
}

@media screen and (max-width: 900px) {
    .line-2 {
        top: 80%;
    }

    p.header-lide {
        margin-top: 100px;
    }

    h1.title-header {
        font-size: 90px;
        line-height: 100px;
    }
}

@media screen and (max-width: 740px) {
    .line-2 {
        top: 88%;
    }
}

@media screen and (max-height: 600px) {
    .line-2 {
        top: 86%;
    }

    p.header-lide {
        margin-top: 50px;
    }
}

@media screen and (max-width: 560px) {
    .header-container {
        height: 100%;
        margin-top: 140px;
    }

    p.header-subtitle {
        font-size: 26px;
    }

    p.header-lide {
        margin-top: 70px;
        margin-right: 0;
        padding: 0 7%;
    }

    .line-2 {
        display: none;
    }
}