.navbar {
    padding: 15px 50px;
    position: fixed;
    top: 0;
    background-color: #f6f1e9;
    width: -webkit-fill-available;
    z-index: 50;
    transition: .3s;
}

.navbar.scrolled {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
}

.navbar,
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.links {
    gap: 50px;
}

.navbar .links a {
    text-decoration: none;
    color: #3B3B3B;
    line-height: 18px;
    font-size: 12px;
}

.navbar .logotype {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000;
}

.navbar .links a.active-page {
    font-weight: 600;
    color: #000;
}

.links .btn-login {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: -36px;
    transition: .3s;
}

.links .btn-register,
.links .btn-login:hover {
    padding: 10px 20px;
    background-color: black;
    border: 1px solid black;
    color: white;
}