.card-container {
    position: relative;
    width: 260px;
    height: 260px;
    transition: all 0.5s ease;
    cursor: pointer;
    gap: 12px;
}

.card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: filter 0.5s ease, background-color 0.5s ease;
    background-blend-mode: multiply;
}

.topic {
    position: absolute;
    bottom: 14px;
    left: 15px;
    transition: opacity 0.5s ease;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.card-container:hover .card-image {
    filter: grayscale(0%);
    background-image: url(${image});
}

.card-container:hover .topic {
    opacity: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1.mini-card-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #131130;
    margin-top: 12px;
}

p.mini-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #424159;
    margin-top: 12px;
}

@media screen and (max-width: 690px) {
    .card-container {
        width: 94%;
        height: 300px;
        margin-left: 10px;
    }

    .container-carousel {
        width: 84vw;
    }
}