.slider {
    height: 330px;
    margin: auto;
    position: relative;
    width: calc(100vw - 0.1px);
    display: grid;
    flex-direction: row;
    place-items: center;
    overflow: hidden;
    margin-bottom: 150px;
    margin-top: 150px;
}

.slide-track {
    display: flex;
    width: 100%;
    animation: scroll 270s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide {
    width: max-content;
    display: flex;
    align-items: center;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100% + 20px)); }
}